{% extends "base.html" %}
{% load allauth i18n %}
{% block content %}




<!-- Section: Nav Bar -->


<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark " style="position: relative;">
      <div class="container-fluid mb-4">
        <a class="navbar-brand navbar-brand-centered brand-style" style=" color: #23242a; position: absolute;" href="#">Oishī</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#reservation">Reserve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_bookings' %}">View Bookings</a>
        </li>
          {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>




<!-- Section: Sign out -->


<div class="section bg-light" id="">
    <div class="container">
      <div class="row section-heading mb-5 justify-content-center  ">
        <div class="col-md-12 text-center">
            <h2 class="mb-3">{% trans "Sign Out" %}</h2>
            <p class="mb-5"> Are you sure you want to sign out?</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-10 p-5 form-wrap">
            
            
            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden"
                     name="{{ redirect_field_name }}"
                     value="{{ redirect_field_value }}" />
          {% endif %}
      {% endslot %}
      {% slot actions %}
          <div class="text-center mt-5" >
                <button class="btn btn-primary btn-outline-white sub-heading"  style="background-color: #c46f07;" type="submit" tags="prominent,login">{% trans "Sign Out" %}</button>
          </div>
      {% endslot %}
  
  {% endelement %}
</div>
</div>
</div>


{% endblock content %}
            
<!--

            <form method="post" action=action_url no_visible_fields=True>
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" 
                      name="{{ redirect_field_name }}" 
                      value="{{ redirect_field_value }}" />
            {% endif %}
          
              <div class="text-center mt-5" >
                <button class="btn btn-primary btn-outline-white sub-heading"  style="background-color: #c46f07;" type="submit" tags="prominent,login">{% trans "Sign Out" %}</button>
              </div>
            </form>
            
        </div>
      </div>
    </div>
  </div>
  
  -->
<!--

  {% trans "Sign Out" %}

  {% element h1 %}
      {% trans "Sign Out" %}
  {% endelement %}

  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  {% url 'account_logout' as action_url %}
  {% element form method="post" action=action_url no_visible_fields=True %}
      {% slot body %}
          {% csrf_token %}
          {% if redirect_field_value %}
              <input type="hidden"
                     name="{{ redirect_field_name }}"
                     value="{{ redirect_field_value }}" />
          {% endif %}
      {% endslot %}
      {% slot actions %}
          {% element button type="submit" %}
              {% trans 'Sign Out' %}
          {% endelement %}
      {% endslot %}
  {% endelement %}

-->
 