{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% block content %}

<!-- Section: Sign in -->
<div class="section bg-light" id="">
   <div class="container">
      <!--  Heading and description -->
      <div class="row section-heading mb-5 justify-content-center">
         <div class="col-md-12 text-center">
            <h2 class="mb-3">Register</h2>
            <p class="mb-2"> Create an account to manage your reservations</p>
            <p class="mb-5"> Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
         </div>
      </div>
      <div class="row justify-content-center">
         <!-- Sign up form wrap-->
         <div class="col-md-10 p-5 form-wrap">
            <!-- Sign up form -->
            <form action="" method="POST">
               {% csrf_token %}
               <!--  Form errors -->
               {% if form.errors %}
               {% for field in form %}
               {% for error in field.errors %}
               <div class="alert alert-warning text-center" role="alert">
                  {{ error|escape }}
               </div>
               {% endfor %}
               {% endfor %}
               {% for error in form.non_field_errors %}
               <div class="alert alert-warning text-center" role="alert">
                  {{ error|escape }}
               </div>
               {% endfor %}
               {% endif %}
               <!-- Row containing the form fields -->
               <div class="row mb-4">
                  <!-- Loop to iterate the fields in the form -->
                  {% for field in form %}
                  <div class=" col-lg-6 col-md-6">
                     <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                     {{ field }}
                  </div>
                  {% endfor %}
               </div>
               <!-- Form button -->
               <div class="text-center mt-5">
                  <button class="btn btn-primary btn-outline-white sub-heading" style="background-color: #c46f07;"
                     type="submit" tags="prominent,login">{% trans "Sign Up" %}</button>
               </div>
         </div>
         </form>
      </div>
   </div>
</div>
</div>
{% endblock content %}