
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Serif+Display:wght@300&family=Noto+Serif+JP&display=swap');


/*  CSS to style the background image and navbar */

.background{
  background: url("../images/home-image.jpg");
  height: 100vh;
  background-size: cover;
  width: 100vw;
  filter:brightness(0.8);
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
}

.brand-style{
    font-family: dela gothic one, sans-serif;
    font-size: 60px;
    margin-top: 20px;   
    color: whitesmoke;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
    margin-left: -80px;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
   
}
 .nav-link{
  color:#c46f07;
  /*color: #cb9c45;
  color: #ff7a5c;*/
 }

 .nav-item>a:hover {
    color:#7c4111;
}

.navbar-nav>.active>a {
    color:#7c4111;
}

/*  CSS to style fonts, section headings and sub-headings */

 p {
    margin-bottom: 30px;
    font-size: 20px; 
    font-weight: 300;
    color: gray;
}
  
h1, h2, h3, h4, h5 {
    color: #23242a;
    font-family: "noto serif jp", serif;
    font-weight: 500;
}
  
.section {
    padding-top: 5em ;
    padding-bottom: 5em;
    z-index: 2;
    position: relative;
}
  
.section-heading h2 {
    font-size: 50px;
    color: #23242a;
}
  
@media (max-width: 991.98px) {
    .section-heading h2 {
      font-size: 30px;
    }
}
  
.sub-heading {
    color: #c46f07;
    margin: 0 0 20px 0;
    letter-spacing: .2em;
    text-transform: uppercase; 
}

/*  CSS to style the specials-section headings and sub-headings */

.specials-heading {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .specials-sub-heading{
      color: #c46f07;
      margin: 0 0 20px 0;
      letter-spacing: .1em;
      text-transform: uppercase; 
      font-size: 14px; 
    }
  