
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Serif+Display:wght@300&family=Noto+Serif+JP&display=swap');


/*  CSS to style the background image and navbar */

.background{
  background: url("../images/home-image2.jpg");
  
  height: 100vh;
  background-size: cover;
  width: 100vw;
  filter:brightness(0.8);
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  
}


.nav-background{
  background-color: transparent;
}

/*
@media (max-width: 600px) {
  .brand-style {
    font-size: 50px;
  }
}
*/

/* Nav-bar brand logo styling */

.brand-style{
  font-family: dela gothic one, sans-serif;
  font-size: 55px;
  line-height: 30px;
  color: whitesmoke;
}

.nav-link{
  color: whitesmoke;
 }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



  #navbarSupportedContent{
    text-align: right;
  }

 /* Large screens */
@media (min-width: 768px) {



  .position{
  
    position: absolute;
  }
  .nav-link{
    color:#c46f07;
   }

  .brand-style{
    font-family: dela gothic one, sans-serif;
    font-size: 80px;
    line-height: 55px;
    color: whitesmoke;
    
  }

  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    margin-left: -105px;
}

}

.navbar-brand:hover {
  background-color: transparent;
  color: whitesmoke;
}


 .nav-item>a:hover {
    color:#7c4111;
}

.navbar-nav>.active>a {
    color:#7c4111;
}

/*  CSS to style fonts, section headings and sub-headings */

 p {
    margin-bottom: 30px;
    font-size: 20px; 
    font-weight: 300;
    color: gray;
}
  
h1, h2, h3, h4, h5 {
    color: #23242a;
    font-family: "noto serif jp", serif;
    font-weight: 500;
}
  
.section {
    padding-top: 5em ;
    padding-bottom: 5em;
    z-index: 2;
    position: relative;
}
  
.section-heading h2 {
    font-size: 50px;
    color: #23242a;
}
  
@media (max-width: 991.98px) {
    .section-heading h2 {
      font-size: 30px;
    }
}
  
.sub-heading {
    color: #c46f07;
    margin: 0 0 20px 0;
    letter-spacing: .2em;
    text-transform: uppercase; 
}

a:link {
  text-decoration: none;
  }

/*  CSS to style the specials-section headings and sub-headings */

.specials-heading {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .specials-sub-heading{
      color: #c46f07;
      margin: 0 0 20px 0;
      letter-spacing: .1em;
      text-transform: uppercase; 
      font-size: 14px; 
    }
  
/*  CSS to style the chef section image */

.chef-image{
    background-image:url("../images/chef2.jpg");
    background-position:center;
    background-size:cover;
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

 /*  CSS to style the reservation section */

.form-wrap {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  }

.form-control:hover {
  border: 2px solid #c46f07; 
}

.disable-hover {
  pointer-events: none;  
}

.form-control:focus {
  box-shadow: none;
}

.form-label {
  font-size: 18px; 
  margin-top: 15px;
  font-weight: normal;
}

textarea.form-control {
  height: inherit;
}

.btn {
  background-color: #c46f07;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 14px;
  font-weight: 700;
}

.btn.sub-heading{
  color:white;
}

.btn.btn-primary.btn-outline-primary {
  border-width: 2px;
  cursor: pointer;
}

.btn.btn-outline-white {
  border: 2px solid #fff;
}

.btn.btn-outline-white:hover {
    border: 2px solid transparent;
}

 /*  CSS to style the footer section */
 
.footer-font p{
    font-size: 15px;
    font-weight: 400;
  }