{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oishi Restaurant</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel= "stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}"> 
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}" >
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>

  </head>
  <body>

   

    {% url 'home' as url %}  
    {% if request.path == url %}
    <div class="container-fluid bg-light background">
      <nav class="navbar navbar-expand-xl"  style="position: relative">

        <div class="container-fluid mb-4   justify-content-end ">
          <a class="navbar-brand brand-home mx-auto" href="{% url 'home' %}">Oishī</a>
    
          <button class="navbar-toggler position-absolute mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="remove(this)">
            <span>
              <i class="fa fa-navicon" id="toggle-icon" onclick="remove(this)"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse position-xl-absolute" id="navbarSupportedContent">
            <div class="navbar-nav" id="nav">
              <a class="nav-link nav-link-color-home" id="home" href="{% url 'home' %}">Home</a>
              <a class="nav-link nav-link-color-home" href="{% url 'home' %}#about">About</a>
              <a class="nav-link nav-link-color-home" href="{% url 'home' %}#reservation">Reserve</a>
              <a class="nav-link nav-link-color-home" href="{% url 'home' %}#footer">Contact</a>
              {% if user.is_authenticated %}
              <a class="nav-link nav-link-color-home" href="{% url 'view_bookings' %}">View bookings</a>
              <a class="nav-link nav-link-color-home" href="{% url 'account_logout' %}">Logout</a>
              {% else %}
              <a class="nav-link nav-link-color-home" href="{% url 'account_signup' %}">Register</a>
              <a class="nav-link nav-link-color-home" href="{% url 'account_login' %}">Login</a>
              {% endif %}
            </div>  
          </div>
        </div>
      </nav>
    </div>

    {% else %}

    <!-- Section: Nav-bar -->

    <div class="container-fluid bg-light">
      <nav class="navbar navbar-expand-lg" style="position: relative;">
    

        <div class="container-fluid mb-4   justify-content-end ">
          <a class="navbar-brand brand mx-auto" href="{% url 'home' %}">Oishī</a>
    
          <button class="navbar-toggler position-absolute mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="remove(this)">
            <span>
              <i class="fa fa-navicon" id="toggle-icon" onclick="remove(this)"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse position-xl-absolute" id="navbarSupportedContent">
            <div class="navbar-nav" id="nav">
              <a class="nav-link nav-link-color" id="home" href="{% url 'home' %}">Home</a>
              <a class="nav-link nav-link-color" href="{% url 'home' %}#about">About</a>
              <a class="nav-link nav-link-color" href="{% url 'home' %}#reservation">Reserve</a>
              <a class="nav-link nav-link-color" href="{% url 'home' %}#footer">Contact</a>
              {% if user.is_authenticated %}
              <a class="nav-link nav-link-color" href="{% url 'view_bookings' %}">View bookings</a>
              <a class="nav-link nav-link-color" href="{% url 'account_logout' %}">Logout</a>
              {% else %}
              <a class="nav-link nav-link-color" href="{% url 'account_signup' %}">Register</a>
              <a class="nav-link nav-link-color" href="{% url 'account_login' %}">Login</a>
              {% endif %}
            </div>  
          </div>
        </div>
      </nav>
    </div>
    {% endif %}


    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

    <!-- Section: Footer -->
    <footer class="text-center text-lg-start  text-muted mt-5 pb-5 footer-font" style="background-color: #23242a; position: static;" id="footer">
      <!-- Footer Social media -->
      <div class="row">
        <div class="col-12 text-center pt-3">
          <section class="mb-2 mt-3">
            <a><i style="color:#c46f07; font-size: 24px;" class="fab fa-facebook-f p-2"></i
            ></a>
            <a><i style="color:#c46f07; font-size: 24px;" class="fab fa-instagram p-2"></i
            ></a>
            <a ><i style="color:#c46f07; font-size: 24px;" class="fab fa-twitter p-2"></i
            ></a>
          </section>
        </div>
      </div>
      
      <!-- Footer Contact  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color:#c46f07">Contact</h6> 
              <p><i class="fas fa-home me-3"></i>  201 Arakicho, Shinjuku City, Tokyo</p>
              <p><i class="fas fa-envelope me-3"></i>info@oishi.com</p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color:#c46f07">Opening Times</h6>
              <p>Lunch:<br>Tuesday - Sunday 12:00 - 3:00</p>
              <p>Dinner:<br>Tuesday - Sunday 6:00 - 9:00</p>
            </div>
              
            <!-- Footer Links  -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4" style="color:#c46f07">Useful links</h6>
              <p>
                <a href="{% url 'home' %}" class="text-reset" style="text-decoration: none;">Home</a>
              </p>
              <p>
                <a  href="{% url 'home' %}#reservation" class="text-reset" style="text-decoration: none;">Reserve</a>
              </p>
              {% if user.is_authenticated %}
              <p>
                <a href="{% url 'view_bookings' %}" class="text-reset" style="text-decoration: none;">View Bookings</a>
              </p>
              <p>
                <a href="{% url 'account_logout' %}" class="text-reset" style="text-decoration: none;">Logout</a>
              </p>
              {% else %}
              <p>
                <a href="{% url 'account_signup' %}" class="text-reset" style="text-decoration: none;">Register</a>
              </p>
              <p>
                <a href="{% url 'account_login' %}" class="text-reset" style="text-decoration: none;">Login</a>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </footer>

    <script>
      setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
            alert.close();
            }, 5000);
    </script>

    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/1002ac1991.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>




<!--

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oishi Restaurant</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel= "stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" >
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}"> 
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}" >
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>

</head>
<body>

 

  {% url 'home' as url %}  
  {% if request.path == url %}
  <div class="container-fluid bg-light background">
    <nav class="navbar navbar-expand-xl"  style="position: relative">

      <div class="container-fluid mb-4   justify-content-end ">
        <a class="navbar-brand brand-home mx-auto" href="{% url 'home' %}">Oishī</a>
  
        <button class="navbar-toggler position-absolute mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="remove(this)">
          <span>
            <i class="fa fa-navicon" id="toggle-icon" onclick="remove(this)"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse position-xl-absolute" id="navbarSupportedContent">
          <div class="navbar-nav" id="nav">
            <a class="nav-link nav-link-color-home" id="home" href="{% url 'home' %}">Home</a>
            <a class="nav-link nav-link-color-home" href="{% url 'home' %}#about">About</a>
            <a class="nav-link nav-link-color-home" href="{% url 'home' %}#reservation">Reserve</a>
            <a class="nav-link nav-link-color-home" href="{% url 'home' %}#footer">Contact</a>
            {% if user.is_authenticated %}
            <a class="nav-link nav-link-color-home" href="{% url 'view_bookings' %}">View bookings</a>
            <a class="nav-link nav-link-color-home" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="nav-link nav-link-color-home" href="{% url 'account_signup' %}">Register</a>
            <a class="nav-link nav-link-color-home" href="{% url 'account_login' %}">Login</a>
            {% endif %}
          </div>  
        </div>
      </div>
    </nav>
  </div>

  {% else %}

  <!-- Section: Nav-bar -->

  <div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg" style="position: relative;">
  

      <div class="container-fluid mb-4   justify-content-end ">
        <a class="navbar-brand brand mx-auto" href="{% url 'home' %}">Oishī</a>
  
        <button class="navbar-toggler position-absolute mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="remove(this)">
          <span>
            <i class="fa fa-navicon" id="toggle-icon" onclick="remove(this)"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse position-xl-absolute" id="navbarSupportedContent">
          <div class="navbar-nav" id="nav">
            <a class="nav-link nav-link-color" id="home" href="{% url 'home' %}">Home</a>
            <a class="nav-link nav-link-color" href="{% url 'home' %}#about">About</a>
            <a class="nav-link nav-link-color" href="{% url 'home' %}#reservation">Reserve</a>
            <a class="nav-link nav-link-color" href="{% url 'home' %}#footer">Contact</a>
            {% if user.is_authenticated %}
            <a class="nav-link nav-link-color" href="{% url 'view_bookings' %}">View bookings</a>
            <a class="nav-link nav-link-color" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="nav-link nav-link-color" href="{% url 'account_signup' %}">Register</a>
            <a class="nav-link nav-link-color" href="{% url 'account_login' %}">Login</a>
            {% endif %}
          </div>  
        </div>
      </div>
    </nav>
  </div>
  {% endif %}


  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}

  <!-- Section: Footer -->
  <footer class="text-center text-lg-start  text-muted mt-5 pb-5 footer-font" style="background-color: #23242a; position: static;" id="footer">
    <!-- Footer Social media -->
    <div class="row">
      <div class="col-12 text-center pt-3">
        <section class="mb-2 mt-3">
          <a><i style="color:#c46f07; font-size: 24px;" class="fab fa-facebook-f p-2"></i
          ></a>
          <a><i style="color:#c46f07; font-size: 24px;" class="fab fa-instagram p-2"></i
          ></a>
          <a ><i style="color:#c46f07; font-size: 24px;" class="fab fa-twitter p-2"></i
          ></a>
        </section>
      </div>
    </div>
    
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4" style="color:#c46f07">Contact</h6> 
            <p><i class="fas fa-home me-3"></i>  201 Arakicho, Shinjuku City, Tokyo</p>
            <p><i class="fas fa-envelope me-3"></i>info@oishi.com</p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4" style="color:#c46f07">Opening Times</h6>
            <p>Lunch:<br>Tuesday - Sunday 12:00 - 3:00</p>
            <p>Dinner:<br>Tuesday - Sunday 6:00 - 9:00</p>
          </div>
            
         
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4" style="color:#c46f07">Useful links</h6>
            <p>
              <a href="{% url 'home' %}" class="text-reset" style="text-decoration: none;">Home</a>
            </p>
            <p>
              <a  href="{% url 'home' %}#reservation" class="text-reset" style="text-decoration: none;">Reserve</a>
            </p>
            {% if user.is_authenticated %}
            <p>
              <a href="{% url 'view_bookings' %}" class="text-reset" style="text-decoration: none;">View Bookings</a>
            </p>
            <p>
              <a href="{% url 'account_logout' %}" class="text-reset" style="text-decoration: none;">Logout</a>
            </p>
            {% else %}
            <p>
              <a href="{% url 'account_signup' %}" class="text-reset" style="text-decoration: none;">Register</a>
            </p>
            <p>
              <a href="{% url 'account_login' %}" class="text-reset" style="text-decoration: none;">Login</a>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </footer>

  <script>
    setTimeout(function () {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
          alert.close();
          }, 5000);
  </script>

  <script src="/static/js/script.js"></script>
  <script src="https://kit.fontawesome.com/1002ac1991.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

-->