{% extends '../base.html' %}

{% block content %}

<!-- Section: Manage Bookings  -->

<div class="section bg-light">
  <div class="container">
    <!--  Heading and description -->
    <div class="row section-heading mb-5 justify-content-center  ">
      <div class="col-md-12 text-center">
        <h2 class="mb-3">Manage Bookings</h2>
        <p class="mb-5">Manage your bookings here</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Form wrap-->
      <div class="col-md-10 p-5 form-wrap">

        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div class="alert alert {{ message.tags }} text-center alert-dismissible fade show" id="msg" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <ul>
          <div class="row mb-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center" scope="col">Date</th>
                  <th class="text-center" scope="col">Time</th>
                  <th class="text-center" scope="col">Guests</th>
                  <th class="text-center" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Each booking related to the user is looped through and displayed in a table -->
                {% for booking in bookings %}
                <tr>
                  <td class="text-center">{{ booking.date }}</td>
                  <td class="text-center">{{ booking.time }}</td>
                  <td class="text-center">{{ booking.number_of_guests }}</td>
                  <td class="text-center">
                    <a href="{% url 'edit_bookings' booking.id %}" style="color:#c46f07">Edit</a>
                    <a href="{% url 'cancel_bookings' booking.id %}" style="color:#c46f07">Cancel</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="text-center mt-5">
              <p class="mb-5"><a href="{% url 'home' %}#reservation" style="color:#c46f07">Create a new booking</a> </p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}